<a href="https://colab.research.google.com/github/Abhishekcq/CODE/blob/main/11_09_21_stockprice_data_with_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.69-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.4 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Collecting lxml>=4.5.1
  Downloading lxml-4.7.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 19.4 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.7.1 requests-2.27.1 yfinance-0.1.69

In [8]:
import pandas as pd
import yfinance as yf
import datetime
from datetime import date, timedelta
today = date.today()

d1 = today.strftime("%Y-%m-%d")
end_date = d1
d2 = date.today() - timedelta(days=360)
d2 = d2.strftime("%Y-%m-%d")
start_date = d2
n=input("enter the symbol")
data = yf.download(n, 
                      start=start_date, 
                      end=end_date, 
                      progress=False)
print(data.head())

enter the symbolTSLA
                  Open        High  ...   Adj Close    Volume
Date                                ...
2021-01-28  820.000000  848.000000  ...  835.429993  26378000
2021-01-29  830.000000  842.409973  ...  793.530029  34990800
2021-02-01  814.289978  842.000000  ...  839.809998  25391400
2021-02-02  844.679993  880.500000  ...  872.789978  24346200
2021-02-03  877.020020  878.080017  ...  854.690002  18343500

[5 rows x 6 columns]

In [9]:
data["Date"] = data.index
data = data[["Date", "Open", "High", 
             "Low", "Close", "Adj Close", "Volume"]]
data.reset_index(drop=True, inplace=True)
print(data.head())

        Date        Open        High  ...       Close   Adj Close    Volume
0 2021-01-28  820.000000  848.000000  ...  835.429993  835.429993  26378000
1 2021-01-29  830.000000  842.409973  ...  793.530029  793.530029  34990800
2 2021-02-01  814.289978  842.000000  ...  839.809998  839.809998  25391400
3 2021-02-02  844.679993  880.500000  ...  872.789978  872.789978  24346200
4 2021-02-03  877.020020  878.080017  ...  854.690002  854.690002  18343500

[5 rows x 7 columns]

In [5]:
data

          Date         Open         High  ...        Close    Adj Close    Volume
0   2021-01-28   820.000000   848.000000  ...   835.429993   835.429993  26378000
1   2021-01-29   830.000000   842.409973  ...   793.530029   793.530029  34990800
2   2021-02-01   814.289978   842.000000  ...   839.809998   839.809998  25391400
3   2021-02-02   844.679993   880.500000  ...   872.789978   872.789978  24346200
4   2021-02-03   877.020020   878.080017  ...   854.690002   854.690002  18343500
..         ...          ...          ...  ...          ...          ...       ...
244 2022-01-14  1019.880005  1052.000000  ...  1049.609985  1049.609985  24246600
245 2022-01-18  1026.609985  1070.790039  ...  1030.510010  1030.510010  22247800
246 2022-01-19  1041.709961  1054.670044  ...   995.650024   995.650024  25147500
247 2022-01-20  1009.729980  1041.660034  ...   996.270020   996.270020  23496200
248 2022-01-21   996.340027  1004.549988  ...   943.900024   943.900024  34126500

[249 rows x 7 columns]

In [6]:
data.tail()

          Date         Open         High  ...        Close    Adj Close    Volume
244 2022-01-14  1019.880005  1052.000000  ...  1049.609985  1049.609985  24246600
245 2022-01-18  1026.609985  1070.790039  ...  1030.510010  1030.510010  22247800
246 2022-01-19  1041.709961  1054.670044  ...   995.650024   995.650024  25147500
247 2022-01-20  1009.729980  1041.660034  ...   996.270020   996.270020  23496200
248 2022-01-21   996.340027  1004.549988  ...   943.900024   943.900024  34126500

[5 rows x 7 columns]